body{
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}
.container{
    background: linear-gradient(to bottom, blue, red, green );
width: 100%;
height: 800px;
display: flex;
align-items: center;
justify-content: center;
}
.box{
    border-radius:10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
}
#user{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
     border: none;
     border-bottom: 1px solid black;
}
#password{
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
}
#login{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
#toogle{
    position: absolute;
    top: 440px;
    left: 750px;
}