body{
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}
.container{
    width: 1300px;
margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.img{
    width: 100%;
    display: none;
}
.img-active{
   width: 100%;
}
.imgnorm{
    width: 100%;
    display: none;
}
.korbox{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 50px;
    position: absolute;
    top: 150px;
    left: 450px;
    display: none; 
    overflow: scroll;
    color: white;
    backdrop-filter: blur(10px);
    color: blue;
}
.korboxbtn{
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
}
.elbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.elbox button{
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: red;
    color: white;
}

header{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;position: fixed;
    left: 0;
    right: 0;
    background-color: white;
}
main{
    padding-top: 130px;
}
.headerul{
    display: flex;
}
.about{
margin-right: 50px;
border: 1px solid black;
width: 80px;
height: 50px;
padding: 10px;
border-radius: 25px;
}
.about:hover{
    color: white;
    background-color: black;
}
.contact{
    margin-left: 50px;
    border: 1px solid black;
    width: 80px;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
}
.contact:hover{
    color: white;
    background-color: black;
}
.basket{
    display: flex;
    align-items: center;
}
.korzina{
    width: 80px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.smli{
    display: flex;
}
footer{
    border: 1px solid black;
    width: 100%;
    padding: 10px;
     margin: 50px auto; 
     
}

.boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
#search{
    width: 200px;
    padding: 5px;
}
#searchbtn{
    height: 30px;
}
#tanlash{
    padding: 10px;
}
.basket{
    position: relative;
}

.soni{
    position: absolute;
    left: 30px;
    bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;

}
